/*******************
****** CONTACT *****
********************/
.company_message {
  margin-top: 140px;

  h1, p {
    color: #f5f5f5;
    font-family: "OpenSans-Light";
  }
  .main_message {
    h1 {
      width: 155px;
      margin: auto;
      font-size: 20px;
      text-align: center;
    }
    #green_bar {
      width: 70px;
      margin: auto;
      margin-top: 10px;
      border: 4px solid #59cec6;
    }
  }

  .owner_photo_wrapper {
    margin: auto;
    margin-top: 75px;
    width: 150px;
    img {
      border: 10px solid #374048;
      border-radius: 100%;
    }
  }

  .statement {
    #short_grey_divider, #long_grey_divider {
      border: 1px solid #374048;
    }
    #short_grey_divider {
      width: 50%;
      margin: auto;
      margin-top: 75px;
    }
    p {
      margin: 20px 0px;
      text-align: center;
      font-size: 15px;
    }
    #long_grey_divider {
      margin: auto;
    }
  }
}

/* FORM */
// changing bg color on the datepicker
.datepicker table tr td.active.active {
  background-color: #59cec6;
}

// notification
.enquiry-container {
  height: 50px;
  margin-top: 25px;
}

.enquiry_notification {
  width: 250px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid #29cec6;
  padding: 5px 10px;
  color: #29cec6;
  font-size: 1.1em;
  text-align: center;
}

.enquiry {
  height: 100%;
  z-index: 1;
  background-image: image-url("contact/form_background.jpg");
  color: #fff;
}

.input-label,
.input-info,
.input_error_text,
.input-tags select,
.enquiry_notification {
  font-family: "OpenSans-Light";
}

.input-tags {
  margin-bottom: 10px;

  .input-info {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
  }
  > div {
    position: relative;
  }
  em {
    position: relative;
    top: 3px;
    left: -3px;
    color: #59cec6;
    font-size: 20px;
  }
  textarea {
    resize: none;
  }
  .input-info:focus, select:focus {
    outline: none;
    border: 1px solid #25c0d3;
  }
  select {
    height: 42px;
    border: 1px solid #fff;
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    outline: none;
  }
}

.submit-button {
  display: block;
  margin: 10px auto 0px;
  padding: 8px;
  border: none;
  background-color: #59cec6;
  color: #fff;
  font-weight: normal;
  letter-spacing: 1px;
}

.input_error label, .input_error_text {
  color: red;
}

.input_error_text {
  display: block;
}

/* XS - Mobile */
@media (max-width: 767px) {
  body {
    background-image: image-url("contact/form_background.jpg");
  }
  .input-tags {
    margin-left: 12%;

    .input-info, select {
      width: 85%;
    }
    .entity_radio_button .input-label {
      margin-left: 2%;
    }
  }

  .submit-button {
    width: 40%;
  }
}

/* SM - Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .enquiry-container {
    height: 35px;
    margin-top: 15px;
  }
  #long_grey_divider {
    width: 95%;
  }
  .company_message {
    margin-top: 40px;
  }
  .right {
    padding-top: 6px;

    > div:nth-child(1) {
      margin-bottom: 17px;
    }
    > div:nth-child(2) {
      margin-bottom: 12px;
    }
    > div:nth-child(3) {
      margin-bottom: 14px;
    }
    > div:nth-child(4) {
      margin-bottom: 9px;
    }
  }
}

/* MD - Laptop */
@media (min-width: 992px) and (max-width: 1199px) {
  .company_message {
    margin-top: 120px;
  }
  .enquiry {
    padding-top: 80px;
  }
  #long_grey_divider {
    width: 70%;
  }
  .right {
    padding-top: 6px;

    > div:nth-child(1) {
      margin-bottom: 17px;
    }
    > div:nth-child(2) {
      margin-bottom: 12px;
    }
    > div:nth-child(3) {
      margin-bottom: 14px;
    }
    > div:nth-child(4) {
      margin-bottom: 9px;
    }
  }
  .input-tags {
    width: 75%;

    .input-info, textarea, select {
      width: 100%;
    }
    .entity_radio_button label {
      margin-left: 4%;
    }
  }
  .input-sm-left {
    float: right;
    clear: right;
  }
  .submit-button {
    width: 30%;
  }
}

/* LG - Larger screens */
@media (min-width: 1200px) {
  .company_message {
    margin-top: 90px;
  }
  .enquiry {
    padding-top: 20px;
  }
  #long_grey_divider {
    width: 70%;
  }
  .right {
    padding-top: 6px;

    > div:nth-child(1) {
      margin-bottom: 26px;
    }
    > div:nth-child(2) {
      margin-bottom: 21px;
    }
    > div:nth-child(3) {
      margin-bottom: 25px;
    }
    > div:nth-child(4) {
      margin-bottom: 25px;
    }
  }
  .input-tags {
    margin-bottom: 25px;
  }
}

/* custom large screen > 1300 */
@media (min-width: 1300px) {
  .company_message {
    margin-top: 150px;
  }
  .enquiry {
    padding-top: 80px;
  }
}

@media (min-width: 768px) {
  .input-tags {
    width: 75%;

    .input-info, textarea, select {
      width: 100%;
    }
    .entity_radio_button label {
      margin-left: 4%;
    }
  }
  .input-sm-left {
    float: right;
    clear: right;
  }
  .submit-button {
    width: 30%;
  }
}
