@font-face {
  font-family: 'OpenSans';
  src: font-url('OpenSans-Regular');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: font-url('OpenSans-Light');
  font-weight: 100;
  font-style: normal;
}
