/********************
****** HOMEPAGE *****
*********************/
.homepage_container {
  position: relative;
}

.closed, .opened {
  transition-property: margin-left;
  transition-duration: 0.5s;
}

.closed {
  margin-left: 260px;
}

.opened {
  margin-left: 40px;
}

/* Sidebar */
#sidebar_md_lg {
  position: absolute;
  top: 50px;
  right: 0px;
  height: 515px;
  width: 450px;
  z-index: 1;
  overflow: hidden;

  .sidebar_item {
    height: 90px;
    width: 450px;
    margin-top: 10px;

    .arrow_left, .service_title, .service_text {
      height: 90px;
      display: inline-block;
      border: none;
      margin: 0px;
      padding: 0px;
      float: left;
    }

    .service_title, .service_text {
      margin-left: -17px;
    }

    .arrow_left, .service_text {
      transform: skewX(-20deg);
    }

    h2, p {
      height: 90px;
      border: none;
      margin: 0px;
      padding: 0px;
    }

    p {
      transform: skewX(20deg);
    }

    .arrow_left {
      width: 40px;
      background-color: #ebebeb ;
    }

    .arrow_left img {
      width: 7px;
      height: auto;
      margin-top: 41px;
      margin-left: 17px;
      transform: skewX(20deg);
    }

    .service_title {
      width: 200px;

      h2 {
        padding: 36px;
        color: #ebebeb;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
      }

       #automatic_doors {
        padding: 25px;
      }
    }

    .service_text {
      width: 230px;
      background-color: #fff;

      p {
        padding: 5px 20px;
        padding-right: 40px;
        padding-left: 16px;
        overflow: hidden;
        font-size: 12px;
        text-align: right;
      }
    }
  }
}

#iron {  background-image: image-url("home_page/sidebar/zeljezo.jpg"); }
#glass { background-image: image-url("home_page/sidebar/staklo.jpg"); }
#inox { background-image: image-url("home_page/sidebar/inox.jpg") }
#aluminium { background-image: image-url("home_page/sidebar/aluminij.jpg") }
#automatic_doors {
  padding: 25px;
  background-image: image-url("home_page/sidebar/automatska_vrata.jpg");
}

/* Carousel */
#home_page_carousel {
  width: 100%;
  height: 45%;

  .carousel-indicators {
    margin-bottom: 75px;

    li { margin-right: 3px; }
  }

  .carousel-inner {
    height: 500px;

    img {
      width: 100%;
    }
  }
}

/* Bottom content */
.container_bottom {
  position: relative;
  height: 45%;
  width: 100%;
  background-color: #293036;

  .skewer {
    position: absolute;
    top: -80;
    height: 150px;
    width: 100%;
    transform: skewY(-3deg);
    background-color: #293036;
  }

  h1, p, strong {
    font-family: "OpenSans-Light";
  }

  p, strong {
    margin: 10px 0px;
  }

  h1 {
    color: #f5f5f5;
  }

  #green_line {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 250px;
    border: 1px solid #24b8ca;
  }

  p {
    color: #b7b8b9;
  }

  strong {
    color: #777a7d;
  }
}
