/********************
****** Homepage *****
*********************/
.homepage_container {
  position: relative;
}

/* jQuery classes */
.closed, .opened {
  transition-property: margin-left;
  transition-duration: 0.5s;
}

.closed {
  margin-left: 260px;
}

.opened {
  margin-left: 40px;
}

.rotate-right {
  -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
     -o-transform: rotate(180deg);
      transform: rotate(180deg);
  -webkit-transition: transform 0.5s ease-in;
   -moz-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
     transition: transform 0.5s ease-in;
}

.rotate-left {
  -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
     -o-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: transform 0.5s ease-in;
   -moz-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
     transition: transform 0.5s ease-in;
}

.unskew-img {
  -webkit-transform: skewX(20deg); /* Chrome & Safari */
   -moz-transform:  skewX(20deg);/* Firefox */
    -ms-transform: skewX(20deg); /* IE 9+ */
     -o-transform: skewX(20deg); /* Opera */
      transform: skewX(20deg);
}

/* Sidebar */
#sidebar_md_lg {
  position: absolute;
  top: 50px;
  right: 0px;
  height: 515px;
  width: 450px;
  z-index: 1;
  overflow: hidden;

  .sidebar_item {
    height: 90px;
    width: 450px;
    margin-top: 10px;

    .arrow_left, .service_title, .service_text {
      height: 90px;
      display: inline-block;
      border: none;
      margin: 0px;
      padding: 0px;
      float: left;
    }

    .service_title, .service_text {
      margin-left: -17px;
    }

    .arrow_left, .service_text {
      -webkit-transform: skewX(-20deg); /* Chrome & Safari */
       -moz-transform:  skewX(-20deg);/* Firefox */
        -ms-transform: skewX(-20deg); /* IE 9+ */
         -o-transform: skewX(-20deg); /* Opera */
          transform: skewX(-20deg);
    }

    h2, p {
      height: 90px;
      border: none;
      margin: 0px;
      padding: 0px;
    }

    p {
      -webkit-transform: skewX(20deg); /* Chrome & Safari */
       -moz-transform:  skewX(20deg);/* Firefox */
        -ms-transform: skewX(20deg); /* IE 9+ */
         -o-transform: skewX(20deg); /* Opera */
          transform: skewX(20deg);
    }

    .arrow_left {
      width: 40px;
      background-color: #ebebeb ;
    }

    .arrow_left img {
      width: 7px;
      height: auto;
      margin-top: 39px;
      margin-left: 11px;
    }

    .service_title {
      width: 200px;

      h2 {
        padding: 36px;
        color: #ebebeb;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
      }

       #automatic_doors {
        padding: 25px;
      }
    }

    .service_text {
      width: 230px;
      background-color: #fff;

      p {
        padding: 5px 20px;
        padding-right: 40px;
        padding-left: 16px;
        overflow: hidden;
        font-size: 12px;
        text-align: right;
      }
    }
  }
}

#iron { background-image: image-url("home_page/sidebar/zeljezo.jpg"); }
#glass { background-image: image-url("home_page/sidebar/staklo.jpg"); }
#inox { background-image: image-url("home_page/sidebar/inox.jpg") }
#aluminium { background-image: image-url("home_page/sidebar/aluminij.jpg") }
#automatic_doors {
  padding: 25px;
  background-image: image-url("home_page/sidebar/automatska_vrata.jpg");
}

/* Carousel */
#home_page_carousel {
  width: 100%;
  height: 45%;

  .carousel-indicators {
    margin-bottom: 75px;

    li { margin-right: 3px; }
  }

  .carousel-inner {
    height: 500px;

    img {
      width: 100%;
    }
  }
}

/* Bottom content */
.container_bottom {
  position: relative;
  height: 45%;
  width: 100%;
  background-color: #293036;

  .skewer {
    position: absolute;
    top: -80;
    height: 150px;
    width: 100%;
    background-color: #293036;
    -webkit-transform: skewY(-3deg);
     -moz-transform:  skewY(-3deg);
      -ms-transform: skewY(-3deg);
       -o-transform: skewY(-3deg);
        transform: skewY(-3deg);
  }

  h1, p, strong {
    font-family: "OpenSans-Light";
  }

  p, strong {
    margin: 10px 0px;
  }

  h1 {
    color: #f5f5f5;
  }

  #green_line {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 250px;
    border: 1px solid #24b8ca;
  }

  p {
    color: #b7b8b9;
  }

  strong {
    color: #777a7d;
  }
}

/************************
**** Company history ****
*************************/

.company-history-bg {
  height: 100%;
  margin-top: -100px;
  background: #000 image-url("home_page/home_page_1.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .gradient-bg {
    height: 100%;
    padding-top: 175px;
    background-image: -webkit-linear-gradient(transparent 0, transparent 193px, rgba(0, 0, 0, 0.5) 193px);
    background-image:    -moz-linear-gradient(transparent 0, transparent 193px, rgba(0, 0, 0, 0.5) 193px);
    background-image:      -o-linear-gradient(transparent 0, transparent 193px, rgba(0, 0, 0, 0.5) 193px);
    background-image:         linear-gradient(transparent 0, transparent 193px, rgba(0, 0, 0, 0.5) 193px);
  }

  .heading-bg {
    width: 300px;
    margin: auto;
    padding: 10px;
    background-color: #384450;
    -webkit-transform: skewX(-15deg);
    -moz-transform:  skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    transform: skewX(-15deg);
    overflow: hidden;

    h2 {
      margin: 0px;
      font-size: 20px;
      color: #fff;
      font-family: "OpenSans-Light";
      text-align: center;
      -webkit-transform: skewX(15deg);
      -moz-transform:  skewX(15deg);
      -ms-transform: skewX(15deg);
      -o-transform: skewX(15deg);
      transform: skewX(15deg);
    }
  }

  .description {
    width: 550px;
    margin: auto;
    margin-top: 25px;

    p {
      margin-bottom: 20px;
      color: #fff;
      font-family: "OpenSans-Light";
      font-weight: 0;
      text-align: center;
    }

    .company-history-green-divider {
      width: 150px;
      height: 3px;
      margin: auto;
      background-color: #22d3b6;
    }
  }

  .history-pics {
    width: 606px;
    height: 200px;
    margin: auto;
    margin-top: 50px;

    img {
      float: left;
      border: 1px solid #000;
    }
  }
}

/* XS - Mobile */
@media (max-width: 767px) {
  .company-history-bg {
    .heading-bg {
      width: 75%;
    }
    .description {
      width: 75%;
      margin-top: 50px;

      p {
        margin-bottom: 30px;
      }
    }
  }
}

/* SM */
@media (min-width: 768px) and (max-width: 991px) {
  .company-history-bg {
    .gradient-bg {
      padding-top: 145px;
      background-image: -webkit-linear-gradient(transparent 0, transparent 170px, rgba(0, 0, 0, 0.5) 170px);
      background-image:    -moz-linear-gradient(transparent 0, transparent 170px, rgba(0, 0, 0, 0.5) 170px);
      background-image:      -o-linear-gradient(transparent 0, transparent 170px, rgba(0, 0, 0, 0.5) 170px);
      background-image:         linear-gradient(transparent 0, transparent 170px, rgba(0, 0, 0, 0.5) 170px);
    }
    .description { margin-top: 35px; }
    .history-pics { margin-top: 40px; }
  }
}

/* MD */
@media (min-width: 992px) and (max-width: 1199px) {
  .company-history-bg {
    .gradient-bg {
      background-image: -webkit-linear-gradient(transparent 0, transparent 200px, rgba(0, 0, 0, 0.5) 200px);
      background-image:    -moz-linear-gradient(transparent 0, transparent 200px, rgba(0, 0, 0, 0.5) 200px);
      background-image:      -o-linear-gradient(transparent 0, transparent 200px, rgba(0, 0, 0, 0.5) 200px);
      background-image:         linear-gradient(transparent 0, transparent 200px, rgba(0, 0, 0, 0.5) 200px);
    }
    .description { margin-top: 55px; }
    .history-pics { margin-top: 70px; }
  }
}

/* LG */
@media (min-width: 1200px) {
  .company-history-bg {
    .gradient-bg {
      background-image: -webkit-linear-gradient(transparent 0, transparent 200px, rgba(0, 0, 0, 0.5) 200px);
      background-image:    -moz-linear-gradient(transparent 0, transparent 200px, rgba(0, 0, 0, 0.5) 200px);
      background-image:      -o-linear-gradient(transparent 0, transparent 200px, rgba(0, 0, 0, 0.5) 200px);
      background-image:         linear-gradient(transparent 0, transparent 200px, rgba(0, 0, 0, 0.5) 200px);
    }
    .description { margin-top: 45px; }
    .history-pics { margin-top: 60px; }
  }
}
/************************
**** Products/Ponuda ****
*************************/
.picture-bg {
  min-height: 100%;
  margin-top: -100px;
  background: #000 image-url("products/background.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Accordion
.products-accordion-container {
  width: 60%;
  margin: auto;
  margin-top: 170px;
  margin-bottom: 70px;

  #products-accordion {
    margin-bottom: 0px;
  }
  .products-group {
    border: none;
    border-radius: 0px;
    border-shadow: none;
    background-color: transparent;
    box-shadow: none;
  }
  .products-title {
    padding: 0px;
    background-color: #27333a;
    border-radius: 0px;

    a {
      text-decoration: none;
    }
    a:hover {
      color: #59cec6;
    }
    h2 {
      padding: 10px;
      color: #4395A6;
      font-size: 20px;
      font-weight: 900;
      font-family: "OpenSans-Light";
      text-align: center;
    }
  }
  .products-item {
    display: block;
    width: 100%;
    margin-top: 5px;
    border: 0px;
    padding: 3px 0px;
    background-color: rgba(0,0,0,0.4);
    color: #b7b8b9;
  }
  .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: none;
    padding: 0px;
  }
}

// MODALS

.modal-dialog {
  width: 100%;
  margin: 0px;
}
.modal-content {
  position: absolute;
  top: 150px;
  width: 100%;
  border: 0px;
  border-radius: 0px;
  background-color: #27333a;
}
.modal-body {
  padding: 0px;
}
.modal-pictures img {
  margin: 10px;
}
.modal-text-section {
  h2 {
    color: #fff;
    font-family: "OpenSans-Light";
  }
  .modal-heading-underline {
    background-color: teal;
  }
  p {
    color: #fff;
    text-align: justify;
  }
}
.modal-close-button,
.modal-close-button-xs {
  position: absolute;
  font-size: 40px;
  font-weight: lighter;
  color: #fff;
  font-family: "OpenSans-Light";
}

/* XS - Mobile */
@media (max-width: 767px) {
  .modal-content { min-height: 500px; }
  .modal-text-section {
    .modal-heading-underline {
      height: 5px;
      width: 80px;
    }
    p {
      margin: 20px 0px;
    }
  }
  .modal-pictures {
    img {
      display: block;
      margin: 10px auto;
    }
  }
  .modal-close-button-xs {
    top: 18px;
    right: -15px;
  }
}

/* SM - Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .modal-content {
    top: 130px;
    height: 450px;
  }
  .modal-text-section {
    .modal-heading-underline {
      height: 5px;
      width: 80px;
    }
    p {
      margin: 20px 0px;
      font-size: 15px;
    }
  }
  .modal-pictures {
    img { margin: 20px 5px; }
    img:nth-child(1) { margin: 17.5px 5px 7.5px; }
    img:nth-child(2) { margin: 7.5px 5px 17.5px; }
  }
  .modal-close-button {
    top: 10px;
    right: 20px;
    font-size: 50px;
  }
}

/* MD - Laptop */
@media (min-width: 992px) and (max-width: 1199px) {
  .modal-content {
    top: 170px;
    height: 480px;
  }
  .modal-text-section {
    .modal-heading-underline {
      height: 6px;
      width: 100px;
    }
    p {
      margin: 30px 0px;
      font-size: 18px;
    }
  }
  .modal-pictures {
    img { margin: 20px 5px; }
    img:nth-child(1) { margin: 27.5px 5px 12.5px; }
    img:nth-child(2) { margin: 12.5px 5px 27.5px; }
  }
  .modal-close-button {
    top: 10px;
    right: 20px;
    font-size: 50px;
  }
}

/* LG - Larger screens */
@media (min-width: 1200px) {
  .modal-content {
    top: 170px;
    height: 480px;
  }
  .modal-text-section {
    .modal-heading-underline {
      height: 6px;
      width: 100px;
    }
    p {
      margin: 30px 0px;
      font-size: 17px;
    }
  }
  .modal-pictures {
    img { margin: 20px 5px; }
    img:nth-child(1) { margin: 27.5px 5px 12.5px; }
    img:nth-child(2) { margin: 12.5px 5px 27.5px; }
  }
  .modal-close-button {
    top: 10px;
    right: 20px;
    font-size: 50px;
  }
}

